
@font-face {
  font-family: 'FHA';
  src: url('../../public/fonts/FhaNicholsonFrenchNcvNormal-6OEv.ttf') format('truetype');
}

@font-face {
  font-family: 'Daily News';
  src: url('../../public/fonts/PromenadeDeLaCroisetteRegular-8MOOZ.ttf') format('truetype');
}

@font-face {
  font-family: 'SF';
  src: url('../../public/fonts/SfMoviePoster-2W4w.ttf') format('truetype');
}

body {
  background-color: black;
  overflow: hidden;
}

.home_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'FHA';
  color: #ceaa05;
  font-size: 6vh;
  text-shadow: -6px 5px 0.05px #570000;
  position: relative;
}

.home_center h4 {
  margin-bottom: 3.5vh;
  padding-bottom: 0;
}

.home_center h1 {
  margin-top: 0;
  padding-top: 0;
}

/* @media (max-width: 1100px) {
  .home_center {
    font-size: 4vh; 
  }
} */

/* Media query for mobile devices */
@media (max-width: 1100px) {
  body {
    background-color: black;
    overflow:visible;
  }

  .home_center {
    /* padding: 20px; */
    font-size: 4vw;
    text-shadow: -1.5px 2px 0.05px #570000;
  }

  .home_center h4 {
    margin-bottom: 2rem;
  }
  .home_center h1 {
    margin-bottom: 18rem;
  }
}
