.navbar {
    position: fixed;
    top: 2%;
    left: 0;
    width: 100%;
    /* background-color: black; */
    padding: 10px 5px;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline-block;
    margin-right: 35px;
  }
  
  .navbar ul li:last-child {
    margin-right: 2.5%;
  }
  
  .menu-btn {
    display: block;
    font-family: 'FHA';
    color: #ceaa05;
    text-shadow: -1.5px 2px .05px #570000;
  }

  .menu-btn, .navbar a {
    color: #ceaa05;
    text-decoration: none;
}
  
  .navbar ul {
    text-align: right;
  }
  
  .menu-btn:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease-in-out;
    text-shadow: -1.5px 0px .05px #570000;
    text-decoration: underline overline;
  }

  .mobile-nav {
    display: none; /* Initially hidden */
  }
  
  .menu-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .mobile-menu.open {
    display: block;
  }
  
  .mobile-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .mobile-menu li {
    padding: 1rem;
  }
  
  .mobile-menu a {
    color: #333;
    text-decoration: none;
  }
  
  /* Desktop Navbar Styles */
  @media (max-width: 767px) {
    .navbar {
      display: none;
    }
  
    .mobile-nav {
      display: block;
    }
  }