.tech-stack {
    position: fixed;
    text-align: center; 
    width: 20vh;
    color: whitesmoke;
    text-shadow: -1px 0px .05px #570000;
    padding-top: 20vh;
    padding-left: 0;
    background-color: black;
  }
  
  .tech-title {
    font-family: 'SF';
    font-size: 5.5vh;
    padding-top: 3.5vh;
    /* padding-bottom: .5vh; */
  }
  

  .tech-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    margin-left: 0;
  }
  
  .tech-icons .svg-inline--fa {
    margin-bottom: 25px;
  }

  .js-icon {
    color: #F7DF1E;
  }
  .js-icon:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease-in-out;
  }

  .react-icon {
    color: #61DAFB;
  }
  .react-icon:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease-in-out;
  }

  .python-icon {
    color: #4B8BBE;
  }
  .python-icon:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease-in-out;
  }

  .css-icon {
    color: #1572B6;
  }
  .css-icon:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease-in-out;
  }

  .html-icon {
    color: #E44D26;
  }
  .html-icon:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease-in-out;
  }
