.abt-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 7.5vh;
  height: 2.5vh;
  font-family: 'FHA';
  color: #ceaa05;
  font-size: 8vh;
  text-shadow: -6px 5px 0.05px #570000;
  transform: rotate(-5deg);
}

.contact {
  font-family: 'FHA';
  color: #ceaa05;
  text-shadow: -6px 5px 0.05px #570000;
  padding-top: 4.5vh;
  width: 80%;
  margin:auto; 
}

.paragraph {
  padding-top: 5.5vh;
  font-family: 'SF';
  font-weight: bolder;
  font-size: 4.5vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
  line-height: 6.5vh;
  letter-spacing: 0.5vh;
}

.paragraph-two {
  padding-top: 2vh;
  font-family: 'SF';
  font-weight: bolder;
  font-size: 4.5vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
  line-height: 6.5vh;
  letter-spacing: 0.5vh;
}

.email-container {
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  color: whitesmoke;
  font-family: 'SF';
  font-size: 3.5vh;
  letter-spacing: 0.5vh;
}

.email-icon {
  margin-right: 1.5vh;
  color: #ceaa05;
}

/* Media query for mobile devices */
@media (max-width: 1100px) {
  .abt-title {
    padding-top: 5.5rem;
    margin-bottom: 0;
    font-size: 5vh;
    transform: rotate(0);
  }

  .contact {
    text-align: center; /* Center the contact text */
    padding-top: 1.5vh;
    font-size: 3.5vh;
  }

  .paragraph,
  .paragraph-two {
    font-size: 3vh;
    line-height: 4vh;
    letter-spacing: 0.2vh;
    width: 80%;
    padding-bottom: 1rem;
  }

  .email-container {
    font-size: 2.5vh;
    justify-content: center;
    letter-spacing: 0.2vh;
    margin-top: 1rem;
  }

  .email-icon {
    margin-left: 0;
    margin-right: 0;
  }

  .email {
    text-align: center;
    margin-bottom: .5rem;
    padding: .5rem;
    margin-top: 0;
  }
}