.abt-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7.5vh;
    height: 2.5vh;
    font-family: 'FHA';
    color: #ceaa05;
    font-size: 8vh;
    text-shadow: -6px 5px .05px #570000;
    transform: rotate(-5deg);
}
.paragraph {
    height: 60vh;
    font-family: 'SF';
    font-weight: bolder;
    font-size: 5.5vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
    line-height: 8.5vh;
    letter-spacing: .5vh;
}

.email-container {
    display: flex;
    width: 85%;
    margin: auto;
    height: 10vh;
    align-items: center;
    color:whitesmoke;
    font-family: 'SF';
    /* font-weight: bolder; */
    font-size: 3.5vh;
    letter-spacing: .5vh;
  }
  
  .email-icon {
    margin-right: 2vh;
    color:#ceaa05;
    size: 55vh;
  }
  