@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.name {
  justify-content: center;
  align-items: center;
  padding-top: 20%;
  /* animation: scaleDisappearLoop 12s infinite; */
  animation: slide-bottom 200s infinite
}

@keyframes slide-bottom {
			
  0% {
    transform:translateY(-500px);
  }
  10% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform:translateY(455px);
  }
}

/* @keyframes scaleDisappearLoop {
  0% {
    opacity: 0;
    transform: scale(0.4);
  }
  8.33% {
    opacity: 1;
    transform: scale(1);
  }
  83.33% {
    opacity: 1;
    transform: scale(1);
  }
  99.99% { 
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.4);
  }
} */
