@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.name {
  justify-content: center;
  align-items: center;
  padding-top: 20%;
  /* animation: scaleDisappearLoop 12s infinite; */
}

@keyframes scaleDisappearLoop {
  0% {
    opacity: 0;
    transform: scale(0.4);
  }
  8.33% {
    opacity: 1;
    transform: scale(1);
  }
  83.33% {
    opacity: 1;
    transform: scale(1);
  }
  99.99% { 
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.4);
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black; /* Change this to your desired background color */
  padding: 10px 20px; /* Adjust padding as needed */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visual */
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  margin-right: 20px; /* Adjust spacing between menu items */
}

.navbar ul li:last-child {
  margin-right: 0; /* Remove margin from the last menu item */
}

.menu-btn {
  display: block;
}

/* Adjust image size */
.menu-btn img {
  width: 100px;
  height: 50px;
}

/* Align menu items to the right */
.navbar ul {
  text-align: right;
}