@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FHA';
  src: url('../public/fonts/fha-nicholson-french-ncv-font/FhaNicholsonFrenchNcvNormal-6OEv.ttf') format('truetype');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.name {
  justify-content: center;
  align-items: center;
  padding-top: 55%;
  /* animation: scaleDisappearLoop 12s infinite; */
}

/* @keyframes scaleDisappearLoop {
  0% {
    opacity: 0;
    transform: scale(0.4);
  }
  8.33% {
    opacity: 1;
    transform: scale(1);
  }
  83.33% {
    opacity: 1;
    transform: scale(1);
  }
  99.99% { 
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.4);
  }
} */

.navbar {
  position: fixed;
  top: 2%;
  left: 0;
  width: 100%;
  background-color: black;
  padding: 10px 20px;
}


.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  margin-right: 35px;
}

.navbar ul li:last-child {
  margin-right: 2.5%;
}

.menu-btn {
  display: block;
  font-family: FHA;
  color: #ceaa05;
  text-shadow: -1.5px 0px .05px #570000;
}

.navbar ul {
  text-align: right;
}

.menu-btn:hover {
  transform: scale(1.15);
  transition: transform 0.3s ease-in-out;
  text-shadow: -1.5px 0px .05px #570000;
  text-decoration: underline overline;
}

.footer {
  position: fixed;
  bottom: 2%;
  right: 0;
  left: 0;
  width: 100%;
  background-color: black;
  padding: 10px 20px;
  align-self: center;
}

.brand-icons {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  transition: color 0.3s, transform 0.3s;
  width: 125px;
  color: #ceaa05;
}

.li-icon:not(:last-child),
.gh-icon:not(:last-child),
.m-icon:not(:last-child) {
  margin-right: 15px;
  align-content: center;
}

.li-icon:hover {
  color: #1877F2;
  transform: scale(1.2);
}
.gh-icon:hover {
  color: white;
  transform: scale(1.2);
}
.m-icon:hover {
  color: white;
  transform: scale(1.2);
}