.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .resume-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7.5vh;
    height: 2.5vh;
    font-family: 'FHA';
    color: #ceaa05;
    font-size: 8vh;
    text-shadow: -6px 5px .05px #570000;
    transform: rotate(-5deg);
}

/* Media queries for tablets */
@media (max-width: 1100px) {
  .resume-title {
    padding-top: 5.5rem;
    margin-bottom: 0;
    font-size: 5vh;
    transform: rotate(0);
    text-align: center;
    text-shadow: -2px 2px 0.05px #570000;
  }
}

/* Media queries for phones */
@media (max-width: 780px) {
    .resume-title {
      padding-top: 5.5rem;
      margin-bottom: 0;
      font-size: 5vh;
      transform: rotate(0);
      width: 80%;
      margin: auto;  
    }
}