.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .resume-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7.5vh;
    height: 2.5vh;
    font-family: 'FHA';
    color: #ceaa05;
    font-size: 8vh;
    text-shadow: -6px 5px .05px #570000;
    transform: rotate(-5deg);
}